

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("HouseHold","Index","HouseHolds",null, new { @class = "btn btn-success"})

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Create HouseHold", "CreateHouseHold","Home",null, new { @class="btn btn-primary"})</h2>
        <p>
            Create a HouseHold once user is registered
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Join a houseHold", "JoinHouseHold", "Home",null, new { @class = "btn btn-primary"})</h2>
        <p>Join an existing HouseHold </p>
        
    </div>
    
</div>